:root {
    /* Светлая тема */
    --background: #f4f4f4;
    --text: #333;
    --primary: #007bff;
    --secondary: #28a745;
    --highlight: #ffc107;
    --shadow: rgba(0, 0, 0, 0.1);
    --border: #000caf;
}

.dark {
    /* Тёмная тема */
    --background: #121212;
    --text: #f0f0f0;
    --primary: #1e90ff;
    --secondary: #50c878;
    --highlight: #e6c200;
    --shadow: rgba(255, 255, 255, 0.2);
    --border: #0096ff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: var(--primary);
    color: var(--text);
    padding: 20px;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--primary);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}



.add-button3,
.register-button {
    background-color: var(--highlight);
    color: var(--text);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
}

.add-button3:hover,
.register-button:hover {
    background-color: var(--secondary);
}

.listing {
    width: 332px;
    height: 162px;
    background-color: var(--background);
    border: 1.5px solid var(--border);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px var(--shadow);
    transition: transform 0.2s, background-color 0.3s, color 0.3s;
}

.listing:hover {
    transform: scale(1.02);
}

input[type="text"],
input[type="number"],
textarea {
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
}

textarea {
    resize: vertical;
}

.search-form input[type="text"] {
    background-color: var(--background);
    border: 1px solid var(--border);
    color: var(--text);
}

.search-form button {
    background-color: var(--primary);
    color: var(--text);
}

.search-form button:hover {
    background-color: var(--secondary);
}

/* Адаптивность */
@media (max-width: 600px) {
    .listing {
        width: 100%;
    }

    .search-form input[type="text"] {
        width: 90%;
        margin-bottom: 10px;
    }
}

.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.xui{
    margin: 0 auto;
}